<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useCollections } from '@/stores/collections'

const collection_store = useCollections();

const title = 'Collections';

const {
  collections,
} = storeToRefs(collection_store)

</script>

<template>
  <v-container>
    <div class="d-flex mb-4">
      <h1 class="text-h5 ml-4 pa-2 me-auto">{{ title }}</h1>
      <v-btn
        class="pa-2 mr-4"
        variant="outlined"
        color="teal-accent-4"
        :to="{name: 'collections-create' }"
      >
        Ajouter
      </v-btn>
    </div>

    <v-row dense>
      <v-col
        v-for="collection in collections"
        :key="collection.id"
        cols="4"
      >
        <v-card class="ma-5" :color="collection.color">
          <v-card-item>
            <v-card-title>{{ collection.name }}</v-card-title>
            <v-card-subtitle>{{ collection.description }}</v-card-subtitle>
          </v-card-item>

          <v-card-text>
            Text content lorem ipsum sic amet dolor
          </v-card-text>
          <v-card-actions>
              <v-spacer></v-spacer>

              <v-tooltip text="Add new card">
                <template v-slot:activator="{ props }">
                  <v-btn
                    v-bind="props"
                    size="small"
                    color="surface-variant"
                    variant="text"
                    icon="mdi-plus"
                    :to="{name: 'card-create', params: { collection_id: collection.id } }"
                  ></v-btn>
                </template>
              </v-tooltip>

              <v-tooltip text="List of cards">
                <template v-slot:activator="{ props }">
                  <v-btn
                    v-bind="props"
                    size="small"
                    color="surface-variant"
                    variant="text"
                    icon="mdi-format-list-bulleted"
                    :to="{name: 'card-list', params: { collection_id: collection.id } }"
                  ></v-btn>
                </template>
              </v-tooltip>

              <v-tooltip text="Edit collection">
                <template v-slot:activator="{ props }">
                  <v-btn
                    v-bind="props"
                    size="small"
                    color="surface-variant"
                    variant="text"
                    icon="mdi-pencil"
                    :to="{name: 'collections-edit', params: { collection_id: collection.id } }"
                  ></v-btn>
                </template>
              </v-tooltip>

              <v-tooltip text="Process revision">
                <template v-slot:activator="{ props }">
                  <v-btn
                    v-bind="props"
                    size="small"
                    color="surface-variant"
                    variant="text"
                    icon="mdi-play"
                    :to="{name: 'process-revision', query: { collection_id: collection.id } }"
                  ></v-btn>
                </template>
              </v-tooltip>

            </v-card-actions>
        </v-card>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

</style>