<script setup lang="ts">
  import { useCollections } from '@/stores/collections'
  import { type Card } from '@/interfaces/CardInterface'
  import { onMounted, ref } from 'vue'
  import { DateTime, Interval } from 'luxon'
  import humanizeDuration from 'humanize-duration'
  import { REVISION_FREQUENCY_REFERENTIAL } from '@/constants'

  const props = defineProps({
    collection_id: {
      type: String,
      required: true,
    }
  })
  const collection_store = useCollections();
  const card_list = ref<Card[]>([])
  const display_card_list = ref<any[]>([])
  
  onMounted(async () => {
    await search()
  })

  async function search() {
    card_list.value = await collection_store.searchCards(props.collection_id)
    console.log(card_list.value)
    display_card_list.value = card_list.value.map((card: Card) => {

      const frequency = REVISION_FREQUENCY_REFERENTIAL
        .find((item: any) => card.revision_frequency === item.delay_seconds)
      return {
        ...card,
        frequency_label: frequency ? frequency.label : '-',
        next_planned_revision_date: card.next_planned_revision
          ? DateTime
            .fromSeconds(card.next_planned_revision!)
            .toISODate()
          : '-',
        last_viewed_date: card.last_viewed
          ? DateTime
            .fromSeconds(card.last_viewed!)
            .toISODate()
          : '-',
      }
    })
  }
</script>

<template>
  <v-table
    fixed-header
    height="300px"
  >
    <thead>
      <tr>
        <th class="text-left">
          face A
        </th>
        <th class="text-left">
          face B
        </th>
        <th class="text-center">
          reversible
        </th>
        <th class="text-center">
          current frequency
        </th>
        <th class="text-center">
          last revision
        </th>
        <th class="text-center">
          next revision
        </th>
        <th class="text-right">
          actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item in display_card_list"
        :key="item.id"
      >
        <td>
          {{ item.face_a }}
        </td>
        <td>
          {{ item.face_b }}
        </td>
        <td 
          class="text-center"
        >
          <v-icon
            v-if="item.reversible"
            color="primary"
            icon="mdi-check"
          ></v-icon>
        </td>
        <td 
          class="text-center"
        >
          {{ item.frequency_label }}
        </td>
        <td
          class="text-center"
        >
          {{ item.last_viewed_date }}
        </td>
        <td
          class="text-center"
        >
          {{ item.next_planned_revision_date }}
        </td>
        <td class="text-right">
          <v-btn
              size="small"
              color="surface-variant"
              variant="text"
              icon="mdi-pencil"
              :to="{name: 'card-edit', params: { collection_id: props.collection_id, card_id: item.id } }"
            ></v-btn>
            <v-btn
              size="small"
              color="error"
              variant="text"
              icon="mdi-delete"
              @click="collection_store.deleteCard(item.id!, collection_id)"
            ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
