<script setup lang="ts">

import { watch } from 'vue';
import { ref } from 'vue'

const props = defineProps({
    face_a: String,
    face_b: String,
    isCardTurned: Boolean,
})

const emits = defineEmits(['update:isCardTurned'])


function turnCard() {
  _isCardTurned.value = !_isCardTurned.value
  emits('update:isCardTurned', _isCardTurned.value)
}

const _isCardTurned = ref<boolean>(props.isCardTurned)

watch(() => props.isCardTurned, () => {
  _isCardTurned.value = props.isCardTurned
})

</script>

<template>
  <div class="flip-card">
    <div
      class="flip-card-inner"
      :class="{'turned-card': _isCardTurned}"
      @click="turnCard()">

      <div class="flip-card-front">
        <v-container class="fill-height">
          <v-row align="center" justify="center" class="fill-height">
            {{ props.face_a }}
          </v-row>
        </v-container>
      </div>

      <div class="flip-card-back">
        <v-container class="fill-height">
          <v-row align="center" justify="center" class="fill-height">
            {{ props.face_b }}
          </v-row>
        </v-container>
      </div>

    </div>
  </div>
</template>

<style scoped>
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 50vh;
  min-height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
*/

.flip-card .turned-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
</style>