<script lang="ts" setup>

import { useCollections } from '@/stores/collections'; 

const collection_store = useCollections()

</script>

<template>
  <v-container>
    <v-sheet class="d-flex mb-4 mt-2">
      <h1 class="text-h5 ml-4 pa-2 me-auto">Advanced settings</h1>
    </v-sheet>

    <v-row class="ml-4">
      <v-col>
        <v-btn
          variant="outlined"
        >
          Load saved data
        </v-btn>
      </v-col>
      <v-col>
        <p class="text-body-1">Upload your data file to this device</p>
      </v-col>
    </v-row>

    <v-row class="ml-4">
      <v-col>
        <v-btn
          variant="outlined"
        >
          Backup all data
        </v-btn>
      </v-col>
      <v-col>
        <p class="text-body-1">Download all data to json file</p>
      </v-col>
    </v-row>

    <v-row class="ml-4">
      <v-col>
        <v-btn
          variant="outlined"
          color="green-lighten-2"
          @click="collection_store.loadFromLocalStorage()"
        >
          Load from localStorage
        </v-btn>
      </v-col>
      <v-col>
        <p class="text-body-1">Clear all device data saved data</p>
      </v-col>
    </v-row>

    <v-row class="ml-4">
      <v-col>
        <v-btn
          variant="outlined"
          color="red-lighten-2"
          @click="collection_store.saveToLocalStorage()"
        >
          Save to localStorage
        </v-btn>
      </v-col>
      <v-col>
        <p class="text-body-1">Clear all device data saved data</p>
      </v-col>
    </v-row>

    <v-row class="ml-4">
      <v-col>
        <v-btn
          variant="outlined"
          color="red-lighten-2"
          @click="collection_store.clearLocalStorage()"
        >
          Remove all local data
        </v-btn>
      </v-col>
      <v-col>
        <p class="text-body-1">Clear all device data saved data</p>
      </v-col>
    </v-row>
  </v-container>
</template>
