<script lang="ts" setup>
  import CardListElement from '@/components/elements/cards/CardListElement.vue';
  const props = defineProps({
    collection_id: {
      type: String,
      required: true,
    }
  })
</script>

<template>
  <v-container>
    <h1 class="text-h5 ml-4 pa-2 me-auto">Cartes de la collection</h1>
    <CardListElement :collection_id="props.collection_id"></CardListElement>
  </v-container>
</template>