<script setup lang="ts">

import { computed, ref, onMounted } from 'vue'
import { useSnackBar } from '@/stores/snackBar'
import { useCollections } from '@/stores/collections'

import PreviewCardElement from '@/components/elements/cards/PreviewCardElement.vue'

import { REVISION_FREQUENCY_REFERENTIAL } from '@/constants'

const props = defineProps({
  card_id: String,
  collection_id: {
    type: String,
    required: true,
  }
})

const snackBar = useSnackBar()
const collection_store = useCollections()


const state = ref({
  face_a: '',
  face_b: '',
  reversible: false,
})

const can_submit = computed(() => state.value.face_a.length > 0 && state.value.face_b.length > 0)

onMounted(async () => {
  if (props.card_id && props.collection_id) {
    const editing_card = await collection_store.getCard(props.card_id, props.collection_id)
    if (editing_card) {
      state.value.face_a = editing_card.face_a!
      state.value.face_b = editing_card.face_b!
      state.value.reversible = editing_card.reversible!
    }
  }
})

async function submit() {
  if (!props.collection_id) {
    snackBar.triggerError('Error occured')
    return
  }

  if (props.card_id) {
    collection_store.updateCard({
      id: props.card_id,
      collection_id: props.collection_id,
      face_a: state.value.face_a,
      face_b: state.value.face_b,
      reversible: state.value.reversible,
    })
    snackBar.triggerSuccess('Card updated')
  } else {
    const [
      first_element_referential,
    ] = REVISION_FREQUENCY_REFERENTIAL

    await collection_store.createCard({
      collection_id: props.collection_id,
      face_a: state.value.face_a,
      face_b: state.value.face_b,
      reversible: state.value.reversible,
      revision_frequency: first_element_referential.delay_seconds,
      last_response: null,
      last_good_response: null,
      last_bad_response: null,
      next_planned_revision: null,
    })
    snackBar.triggerSuccess('Card created')
  }
}

</script>


<template>
  <v-container>
    <v-sheet class="d-flex mb-4 mt-2">
      <h1 class="text-h5 ml-4 pa-2 me-auto">Créer nouvelle carte</h1>
      <v-btn
        class="pa-2 mr-4"
        variant="outlined"
        color="teal-accent-4"
        @click="submit()"
        :disabled="!can_submit"
      >
        Sauvegarder
      </v-btn>
    </v-sheet>

    <form>
      <v-row >
        <v-col cols="2"></v-col>
        <v-col cols="8" align-self="center">
          <PreviewCardElement
            :face_a="state.face_a"
            :face_b="state.face_b"
          ></PreviewCardElement>
        </v-col>
        <v-col cols="2"></v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-textarea v-model="state.face_a" label="Face A"></v-textarea>
        </v-col>
        <v-col>
          <v-textarea v-model="state.face_b" label="Face B"></v-textarea>
          <v-checkbox v-model="state.reversible" label="Reversible"></v-checkbox>
        </v-col>
      </v-row>
    </form>
  </v-container>
</template>
