<script setup lang="ts">

import { reactive, computed } from 'vue'
import { useSnackBar } from '@/stores/snackBar'
import { useCollections } from '@/stores/collections'

const props = defineProps({
  collection_id: String,
})

const snackBar = useSnackBar()
const collections = useCollections()
const text = 'Lorem ipsum'

const initialState = {
  name: '',
  color: '#ffffff',
  description: '',
}

const state = reactive({
  ...initialState,
})

const can_submit = computed(() => state.name.length > 0)

async function submit() {
  if (props.collection_id) {
    await collections.updateCollection({
        id: props.collection_id,
        name: state.name,
        description: state.description,
        creation_timestamp: Date.now(),
        color: state.color,
    })
    snackBar.triggerSuccess('Collection updated')
  } else { 
    await collections.createCollection({
        name: state.name,
        description: state.description,
        creation_timestamp: Date.now(),
        color: state.color,
        card_list: [],
    })
    snackBar.triggerSuccess('Collection created')
  }
}
</script>

<template>
  <v-container>
    <v-sheet class="d-flex mb-4 mt-2">
      <h1 class="text-h5 ml-4 pa-2 me-auto">Créer nouvelle collection</h1>
      <v-btn
        class="pa-2 mr-4"
        variant="outlined"
        color="teal-accent-4"
        @click="submit()"
        :disabled="!can_submit"
      >
        Sauvegarder
      </v-btn>
    </v-sheet>

    <v-row >
      <v-col cols="6"  offset="3" align-self="center">
        <v-card class="ma-5" :color="state.color">
          <v-card-item>
            <v-card-title>{{ state.name }}</v-card-title>
            <v-card-subtitle>{{ state.description }}</v-card-subtitle>
          </v-card-item>
          <v-card-text>
            {{ text }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <form>
      <v-row>
        <v-col>

          <v-text-field
            v-model="state.name"
            :counter="25"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="state.description"
            :counter="30"
            label="Description"
            required
          ></v-text-field>
        </v-col>
        <v-col>
          <v-color-picker
            hide-inputs
            hide-canvas
            show-swatches
            mode="hex"
            v-model="state.color" 
          ></v-color-picker>
        </v-col>
      </v-row>
    </form>
  </v-container>
</template>
