<script setup lang="ts">

import { ref, onMounted } from 'vue'
import { storeToRefs } from 'pinia'

import { REVISION_FREQUENCY_REFERENTIAL } from '@/constants'
import { useCollections } from '@/stores/collections'
import PreviewCardElement from '@/components/elements/cards/PreviewCardElement.vue'
import { type Card } from '@/interfaces/CardInterface'

import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()

const collection_store = useCollections()

const card_list = ref<Card[]>([])
const selected_collection_id_list = ref<String[]>([])

const {
  collections,
} = storeToRefs(collection_store)

const refButtonOk=ref<HTMLFormElement|null>(null)
const refButtonNok=ref<HTMLFormElement|null>(null)

const card_id = ref<string>('')
const face_a = ref<string>('')
const face_b = ref<string>('')
const reversible = ref<boolean>(false)
const revision_frequency = ref<number>(0)
const card_collection_id = ref<string>('')
const is_card_turned = ref(false)

onMounted(async () => {
  await router.isReady()
  await loadCardList()
  await selectCardToRevise()
  document.onkeydown = keyPressedActionMapping

  if (route.query.collection_id) {
    selected_collection_id_list
      .value = [
        route.query.collection_id.toString(),
      ]
  }
})


// SHould take in count the collection selector
async function loadCardList() {
  collections.value.forEach((collection) => {
    if (collection.card_list) {
      card_list.value = card_list.value.concat(
        collection.card_list.map((item) => ({
          ...item,
          collection_id: collection.id,
        }))
      )
    }
  })
}

async function selectCardToRevise() {
  if (card_list.value.length === 0) {
    return null
  }
  card_list.value = card_list.value.sort(
    (a, b):number => {
      if (a.next_planned_revision! > b.next_planned_revision!) {
        return -1
      }
      if (a.next_planned_revision! < b.next_planned_revision!) {
        return 1
      }
      return 0
    }
  )

  const index = 0
  const card = card_list.value[index]

  card_id.value = card.id!
  face_a.value = card.face_a!
  face_b.value = card.face_b!
  reversible.value = card.reversible!
  card_collection_id.value = card.collection_id!

}


async function revisonResult(result: Boolean) {

  const current_revision_frequency_index = REVISION_FREQUENCY_REFERENTIAL
    .findIndex((item) => item.delay_seconds === revision_frequency.value)
  let new_revision_frequency = 0

  if (result) {
    if (REVISION_FREQUENCY_REFERENTIAL[current_revision_frequency_index + 1] !== undefined) {
      new_revision_frequency = REVISION_FREQUENCY_REFERENTIAL[current_revision_frequency_index + 1].delay_seconds
    }
  } else {
    new_revision_frequency = REVISION_FREQUENCY_REFERENTIAL[0].delay_seconds
  }

  const now_seconds = Date.now() / 1000

  const update_object = {
    id: card_id.value,
    collection_id: card_collection_id.value,
    revision_frequency: new_revision_frequency,
    last_viewed: now_seconds,
    next_planned_revision: now_seconds + new_revision_frequency,
    last_response: result,
  }

  let last_response = {}
  if (result) {
    last_response = {
      last_good_response: now_seconds,
    }
  } else {
    last_response = {
      last_bad_response: now_seconds,
    }
  }

  await collection_store.updateCard({
    ...update_object,
    ...last_response,
  })
  await selectCardToRevise()
}


async function keyPressedActionMapping(event: any) {
  if (event.code === 'Escape') {
    console.log(event)
  }
  if (event.code === 'ArrowUp') {
    revisonResult(false)
  }
  if (event.code === 'ArrowDown') {
    revisonResult(true)
  }
  if (event.code === 'ArrowLeft') {
    is_card_turned.value = false
  }
  if (event.code === 'ArrowRight') {
    is_card_turned.value = true
  }
  if (event.code === 'Enter') {
    console.log(event)
  }
}

</script>

<template>
  <v-container v-if="card_list.length > 0">

    <h1 class="text-h5 ml-4 pa-2 me-auto">Process Revision</h1>

    <v-select
      v-if="collections.length > 1"
      chips
      v-model="selected_collection_id_list"
      label="Select a collection"
      :items="collections"
      item-title="name"
      item-value="id"
      multiple
    ></v-select>

    <PreviewCardElement
      :face_a="face_a"
      :face_b="face_b"
      v-model:is-card-turned="is_card_turned"
    ></PreviewCardElement>

    <v-row align="center" class="mt-6">
      <v-col cols="3" offset="3" align="center">
        <v-btn
          prepend-icon="mdi-check-bold"
          @click="revisonResult(true)"
          ref="refButtonOk"
        >Ok</v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn
          prepend-icon="mdi-close-thick"
          @click="revisonResult(false)"
          ref="refButtonNok"
        >Revision needed</v-btn>
      </v-col>
    </v-row>
  </v-container>

  <v-container v-if="card_list.length === 0">
    <h1 class="text-h5 ml-4 pa-2 me-auto">Process Revision</h1>

    <div class="ml-5">
      <p class="text-body-1">
        Warning: Nothing to revise
      </p>
      <p class="text-body-2">
        You should start by creating a collection, then add some revision cards to the collection
      </p>
    </div>
  </v-container>
</template>
