<script setup lang="ts">
import { RouterView } from 'vue-router'
import  SnackBar from '@/components/elements/SnackBar.vue'

const links = [
  {
    title: 'Home',
    name: 'home',
  },
  {
    title: 'Process Revision',
    name: 'process-revision',
  },
  {
    title: 'Collections',
    name: 'collections',
  },
  {
    title: 'About',
    name: 'about',
  },
//  {
//    title: 'Advanced',
//    name: 'advanced-params',
//  },
]

</script>

<template>
  <v-app id="inspire">
    <v-app-bar
      class="px-3"
      color="white"
      flat
      density="compact"
    >
      <v-spacer></v-spacer>

      <v-tabs
        centered
        color="grey-darken-2"
      >
        <v-tab
          v-for="link in links"
          :key="link.name"
          :to="{ name : link.name }"
        >
          {{ link.title }}
        </v-tab>
      </v-tabs>

      <v-spacer></v-spacer>

      <v-btn
        density="default"
        icon="mdi-cog"
        :to="{ name: 'advanced-params' }"
      ></v-btn>
    </v-app-bar>

    <v-main class="bg-grey-lighten-3">
      <v-container>
        <v-row>
          <v-col
            cols="12"
          >
            <v-sheet
              min-height="70vh"
              rounded="lg"
            >
              <RouterView />
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <SnackBar></SnackBar>
  </v-app>
</template>
